In [90]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import numpy as np



data = pd.read_csv('players.csv')
# all numeric columns
numeric_data = data.select_dtypes(include='number')
print(numeric_data)

import pandas as pd

# Define the column names
columns = [
    "season", "player_id", "firstname", "lastname", "age", "height", "weight", "appearances", 
    "lineups", "minutes_played", "position", "rating", "captain", "substitutions_in", "substitutions_out", 
    "bench_appearances", "total_shots", "shots_on_target", "total_goals", "assists", "goals_conceded", 
    "saves", "total_passes", "key_passes", "pass_accuracy", "total_tackles", "blocks", "interceptions", 
    "total_duels", "duels_won", "dribble_attempts", "successful_dribbles", "dribbled_past", "fouls_drawn", 
    "fouls_committed", "yellow_cards", "yellow_red_cards", "red_cards", "penalties_won", "penalties_committed", 
    "penalties_scored", "penalties_missed", "penalties_saved"
]

# Add the column names
data.columns = columns

print(data.columns.tolist())

       2010   47411    37   0  0.1   0.2  Unnamed: 11  0.3  0.4  0.5  ...  \
0      2010   98466  30.0   0    0     0          NaN    0    0    0  ...
1      2010  114902  42.0  16   10  1078          NaN    6    2   22  ...
2      2010  114800  33.0  33   32  2543          NaN    1   18    1  ...
3      2010   93990  37.0  33   32  2821          NaN    1    7    1  ...
4      2010  114211  40.0  10    5   459          NaN    5    3   15  ...
...     ...     ...   ...  ..  ...   ...          ...  ...  ...  ...  ...
38373  2024    2443  30.0   3    2   172     6.433333    1    1    5  ...
38374  2024  470963  18.0   0    0     0          NaN    0    0    1  ...
38375  2024  180762  23.0   0    0     0          NaN    0    0   13  ...
38376  2024  199578  22.0  12   12  1065     6.958333    0    0    0  ...
38377  2024   47246  34.0   1    1    90     6.900000    0    0   12  ...

       0.23  0.24  0.25  0.26  0.27  0.28  0.29  0.30  0.31  0.32
0         0     0     0     0     0     0     0     0     0     0
1         0     0     1     0     0     0     0     0     0     0
2         0     0     5     0     0     0     0     0     0     0
3         0     0     3     0     0     0     0     0     0     0
4         0     0     1     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
38373     2     5     0     0     0     0     0     0     0     0
38374     0     0     0     0     0     0     0     0     0     0
38375     0     0     0     0     0     0     0     0     0     0
38376     1     2     1     1     0     0     0     0     0     0
38377     0     0     0     0     0     0     0     0     0     0

[38378 rows x 37 columns]
['season', 'player_id', 'firstname', 'lastname', 'age', 'height', 'weight', 'appearances', 'lineups', 'minutes_played', 'position', 'rating', 'captain', 'substitutions_in', 'substitutions_out', 'bench_appearances', 'total_shots', 'shots_on_target', 'total_goals', 'assists', 'goals_conceded', 'saves', 'total_passes', 'key_passes', 'pass_accuracy', 'total_tackles', 'blocks', 'interceptions', 'total_duels', 'duels_won', 'dribble_attempts', 'successful_dribbles', 'dribbled_past', 'fouls_drawn', 'fouls_committed', 'yellow_cards', 'yellow_red_cards', 'red_cards', 'penalties_won', 'penalties_committed', 'penalties_scored', 'penalties_missed', 'penalties_saved']

In [91]:
updated_data = data.copy()
# if we wanna ignore when apearence is 0:
# Filter out rows where appearances, minutes_played, or lineups are 0
filtered_data = updated_data[updated_data['appearances'] != 0]
filtered_data = filtered_data[filtered_data['minutes_played'] != 0]
filtered_data = filtered_data[filtered_data['lineups'] != 0]

# Now filtered_data will contain the rows where all of these columns are non-zero
players_zero_appearances = filtered_data[filtered_data['appearances'] == 0]
print(f"Number of players with 0 appearances: {len(players_zero_appearances)}")
nan_rating_ids = data.loc[data['rating'].isnull(), 'player_id']
print(f"Number of players with 0 rating: {len(nan_rating_ids)}")
# we will drop the rating column
# Drop the 'rating' column
filtered_data.drop('rating', axis=1, inplace=True)
print(filtered_data.columns)

Number of players with 0 appearances: 0
Number of players with 0 rating: 13777
Index(['season', 'player_id', 'firstname', 'lastname', 'age', 'height',
       'weight', 'appearances', 'lineups', 'minutes_played', 'position',
       'captain', 'substitutions_in', 'substitutions_out', 'bench_appearances',
       'total_shots', 'shots_on_target', 'total_goals', 'assists',
       'goals_conceded', 'saves', 'total_passes', 'key_passes',
       'pass_accuracy', 'total_tackles', 'blocks', 'interceptions',
       'total_duels', 'duels_won', 'dribble_attempts', 'successful_dribbles',
       'dribbled_past', 'fouls_drawn', 'fouls_committed', 'yellow_cards',
       'yellow_red_cards', 'red_cards', 'penalties_won', 'penalties_committed',
       'penalties_scored', 'penalties_missed', 'penalties_saved'],
      dtype='object')

In [92]:
# just to understand how captian and postions
print(filtered_data[['captain', 'position']])

# Convert 'captain' column to 0/1 (True/False to 1/0)
filtered_data['captain'] = filtered_data['captain'].apply(lambda x: 1 if x else 0)

# Perform one-hot encoding for the 'position' column
filtered_data = pd.get_dummies(filtered_data, columns=['position'], prefix='position')
# Convert the True/False values to 0/1 for position columns
position_columns = [col for col in filtered_data.columns if 'position_' in col]

# Update the position columns to 0/1 (True/False to 1/0)
filtered_data[position_columns] = filtered_data[position_columns].apply(lambda x: x.astype(int))

filtered_data

       captain    position
1        False    Defender
2        False  Midfielder
3        False    Attacker
4        False    Attacker
5        False    Defender
...        ...         ...
38371    False  Midfielder
38372    False    Defender
38373    False    Defender
38376    False  Goalkeeper
38377    False  Goalkeeper

[24229 rows x 2 columns]

,season,player_id,firstname,lastname,age,height,weight,appearances,lineups,minutes_played,...,red_cards,penalties_won,penalties_committed,penalties_scored,penalties_missed,penalties_saved,position_Attacker,position_Defender,position_Goalkeeper,position_Midfielder
1,2010,114902,Sotirios,Kyrgiakos,42.0,193,88,16,10,1078,...,0,0,0,0,0,0,0,1,0,0
2,2010,114800,Raul José,Trindade Meireles,33.0,179,70,33,32,2543,...,0,0,0,0,0,0,0,0,0,1
3,2010,93990,Dirk,Kuijt,37.0,184,83,33,32,2821,...,0,0,0,0,0,0,1,0,0,0
4,2010,114211,Milan,Jovanović,40.0,183,73,10,5,459,...,0,0,0,0,0,0,1,0,0,0
5,2010,114577,Fábio,Aurélio Rodrigues,35.0,173,73,14,7,565,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38371,2024,628,Adrián,Bernabé García,23.0,170,66,11,11,900,...,0,0,0,0,0,0,0,0,0,1
38372,2024,180763,Botond,Balogh,22.0,189,83,13,12,1057,...,0,0,0,0,0,0,0,1,0,0
38373,2024,2443,Yordan Hernando,Osorio Paredes,30.0,189,77,3,2,172,...,0,0,0,0,0,0,0,1,0,0
38376,2024,199578,Zion,Suzuki,22.0,190,98,12,12,1065,...,0,0,0,0,0,0,0,0,1,0
38377,2024,47246,Leandro,Chichizola,34.0,185,80,1,1,90,...,0,0,0,0,0,0,0,0,1,0

In [93]:
from sklearn.preprocessing import MinMaxScaler


# Define the columns to normalize
columns_to_normalize = ['age', 'height', 'weight']
# Loop through the columns and check for NaN values
for col in columns_to_normalize:
    non_numeric_values = filtered_data[~filtered_data[col].apply(pd.to_numeric, errors='coerce').notna()]
    if not non_numeric_values.empty:
        print(f"Non-numeric values in column '{col}':")
        print(len(non_numeric_values[col].to_list()))
        # Drop the rows with non-numeric values in this column
        filtered_data = filtered_data[~filtered_data[col].apply(pd.to_numeric, errors='coerce').isna()]

filtered_data.dropna(subset=columns_to_normalize, inplace=True)

# Initialize the MinMaxScaler
scaler = MinMaxScaler()
# Apply the scaler to the specified columns
filtered_data[columns_to_normalize] = scaler.fit_transform(filtered_data[columns_to_normalize])
print("@#$@#$@#$")
filtered_data

Non-numeric values in column 'height':
36
Non-numeric values in column 'weight':
235
@#$@#$@#$

,season,player_id,firstname,lastname,age,height,weight,appearances,lineups,minutes_played,...,red_cards,penalties_won,penalties_committed,penalties_scored,penalties_missed,penalties_saved,position_Attacker,position_Defender,position_Goalkeeper,position_Midfielder
1,2010,114902,Sotirios,Kyrgiakos,0.742857,0.750000,0.779661,16,10,1078,...,0,0,0,0,0,0,0,1,0,0
2,2010,114800,Raul José,Trindade Meireles,0.485714,0.480769,0.474576,33,32,2543,...,0,0,0,0,0,0,0,0,0,1
3,2010,93990,Dirk,Kuijt,0.600000,0.576923,0.694915,33,32,2821,...,0,0,0,0,0,0,1,0,0,0
4,2010,114211,Milan,Jovanović,0.685714,0.557692,0.525424,10,5,459,...,0,0,0,0,0,0,1,0,0,0
5,2010,114577,Fábio,Aurélio Rodrigues,0.542857,0.365385,0.525424,14,7,565,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38371,2024,628,Adrián,Bernabé García,0.200000,0.307692,0.406780,11,11,900,...,0,0,0,0,0,0,0,0,0,1
38372,2024,180763,Botond,Balogh,0.171429,0.673077,0.694915,13,12,1057,...,0,0,0,0,0,0,0,1,0,0
38373,2024,2443,Yordan Hernando,Osorio Paredes,0.400000,0.673077,0.593220,3,2,172,...,0,0,0,0,0,0,0,1,0,0
38376,2024,199578,Zion,Suzuki,0.171429,0.692308,0.949153,12,12,1065,...,0,0,0,0,0,0,0,0,1,0
38377,2024,47246,Leandro,Chichizola,0.514286,0.596154,0.644068,1,1,90,...,0,0,0,0,0,0,0,0,1,0